<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TEST</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <svg width="{{_ 205}}" height="{{_ 105}}">
    <g class="grid x-grid" id="x-grid1">
      <line x1="0" y1="0" x2="205" y2="0"/>
      <line x1="0" y1="25" x2="205" y2="25"/>
      <line x1="0" y1="50" x2="205" y2="50"/>
      <line x1="0" y1="75" x2="205" y2="75"/>
      <line x1="0" y1="100" x2="205" y2="100"/>
    </g>
    <g class="grid y-grid" id="y-grid1">
      <line x1="5" y1="0" x2="5" y2="205"/>
      <line x1="55" y1=0 x2="55" y2="205"/>
      <line x1="105" y1=0 x2="105" y2="205"/>
      <line x1="155" y1=0 x2="155" y2="205"/>
      <line x1="205" y1=0 x2="205" y2="205"/>
    </g>
  </svg>
</bod

</html>